<div class='card-header'>
  <div class='row'>
    <div class='col-1'>
      <%= link_to todo_lists_path, class: 'btn btn-dark' do %>
        <i class='fas fa-angle-left'></i>
      <% end %>
    </div>
    <div class='col-11'>
      <h5 class='text-dark'>
        Editing todo_item
      </h5>
    </div>
  </div>
</div>

<%= render 'form' %>
